@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url(https://fonts.googleapis.com/css?family=Athiti);
@import url('https://fonts.cdnfonts.com/css/digital-7-mono');
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.cdnfonts.com/css/angelina');

@font-face {
    font-family: Autumn in September;
    src: url(resources/Autumn\ in\ September.ttf);
    font-family: Rows of Sunflowers;
    src: url(resources/Rows\ of\ Sunflowers.ttf);
    font-family: Luminous;
    src: url(resources/Luminous\ 400.otf);
    font-family: "Shifty Notes ";
    src: url(resources/Shifty\ Notes\ Regular\ 400.ttf);
}

body {
    background-color: #f5f5f5;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 0px;
    margin-left: 250px;
    margin-right: 250px;
}

@media screen and (max-width: 1024px) {
    body {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media screen and (max-width: 768px) {
    body {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (max-width: 425px) {
    body {
        margin-left: 15px;
        margin-right: 15px;
    }
}

header{
    text-align: center;
    font-family: 'Digital-7 Mono', sans-serif;
    font-size: 32px;
}

@media screen and (max-width: 1024px) {
    header {
        font-size: 26px;
    }
}

@media screen and (max-width: 768px) {
    header {
        font-size: 24px;
    }
}

@media screen and (max-width: 425px) {
    header {
        font-size: 14px;
    }
}

#page {
    background-color: white;
    margin-top: 0;
    padding-top: 0;
}

.navbar ul{
    list-style-type: none;
    background-color:darkred;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: hsl(0, 0%, 10%);
}

.navbar li{
    float: left;
}

@media screen and (max-width: 1024px){
    .navbar {
        font-size: 14px;
    }

}
@media screen and (max-width: 768px){
    .navbar {
        font-size: 12px;
    }
}

@media screen and (max-width: 425px){
    .navbar {
        font-size: 10px;
    }
}

.title {
    font-family: 'Digital-7 Mono', sans-serif;
    font-size: 42px;
    list-style-type: none;
    color: darkred;
    line-height: 1;
    text-align: center;
}

@media screen and (max-width: 1024px){
    .title {
        font-size: 40px;
    }

}
@media screen and (max-width: 768px){
    .title {
        font-size: 38px;
    }
}

@media screen and (max-width: 425px){
    .title {
        font-size: 36px;
    }
}

.description {
    font-family: 'Digital-7 Mono', sans-serif;
    text-align: center;
    font-size: 28px;
    color: darkred;
}

@media screen and (max-width: 1024px){
    .description {
        font-size: 26px;
    }

}
@media screen and (max-width: 768px){
    .description {
        font-size: 24px;
    }
}

@media screen and (max-width: 425px){
    .description {
        font-size: 22px;
    }
}

.infotext {
    line-height: 3;
    font-family: Bai Jamjuree;
    font-size: 18px;
    list-style-type: none;
}

@media screen and (max-width: 1024px){
    .infotext {
        font-size: 16px;
    }

}
@media screen and (max-width: 768px){
    .infotext {
        font-size: 14px;
    }
}

@media screen and (max-width: 425px){
    .infotext {
        font-size: 12px;
    }
}

#infosec{
    padding-left: 100px;
}

@media screen and (max-width: 1024px){
    #infosec {
        padding-left: 75px;
    }

}
@media screen and (max-width: 768px){
    #infosec {
        padding-left: 50px;
    }
}

@media screen and (max-width: 425px){
    #infosec {
        padding-left: 25px;
    }
}

#self {
    position: absolute;
    right: 25%;
    top: 450px;
    width: 350px;
    height: auto;
    border-radius: 50%;
}

@media screen and (min-width: 320px){
    #self {
        display: block;
        position: static;
        margin-left: auto;
        margin-right: auto;
        width: 150px;
    }
}

@media screen and (min-width: 768px){
    #self {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        width: 250px;
        right: 10%;
    }
}

@media screen and (min-width: 1024px){
    #self {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        right: 20%;
    }
}

/*my future*/
#mybio{
    width: 350px;
    height: auto;
}

/*my journey*/
.jtitle{
    font-size: 30px;
    list-style-type: none;
    color: darkred;
    line-height: 3;
}

.jinfo{
    line-height: 3;
    font-family: Bai Jamjuree;
    font-size: 18px;
}

.jinfosec{
    padding-left: 20px;
    padding-right: 20px;
}

.tc{
    color: darkred;
    line-height: 1.5;
    font-family: Bai Jamjuree;
    font-size: 24px;
    padding-left: 50px;
    padding-right: 50px;
}

.fbox { /*from box model module 05 special thanks*/
    width: auto; /* Content width */
    padding: 20px; /* Space between content and border */
    border: 0.00001px dotted black; /* Border around the box */ /*because she's dttodot so I use dotted <3*/
    margin: 20px auto; /* Space outside the border, centered horizontally */
    background-color: #ffffff; /* Background color of the box */
    box-sizing: content-box; /* Default box-sizing */
    margin-left: 30px;
    margin-right: 30px;
  
}

.fbtext {
    color: darkred;
    font-family: Rows of Sunflowers;
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 3px;
}